h1 {
    color: darkslategray;
}

* {
    color: darkgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 2px red;
}

a {
    color: blue;
}

html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }