  *, *::before, *::after {
    box-sizing: inherit;
    color: darkgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
  }
  
  html {
    display: block;
    box-sizing: border-box;    
    border: 2px solid black;
    border: none;
  }

 body {
    background: lightgray;
    
} 
  h1 {
    color: darkslategray;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid  red;
}

  h3 {
    border: 2px double purple;
    margin-left: 200px;
    margin-right: 200px;
}

a {
    color: blue;
    padding-left: 0px;
}

ul {
    display: inline;
}

